<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengchao.aggregation.mapper.AggregationMpuMapper">
  <resultMap id="BaseResultMap" type="com.fengchao.aggregation.model.AggregationMpu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="aggregation_id" jdbcType="INTEGER" property="aggregationId" />
    <result column="promotion_id" jdbcType="INTEGER" property="promotionId" />
    <result column="mpu" jdbcType="VARCHAR" property="mpu" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sku_index" jdbcType="INTEGER" property="skuIndex" />
  </resultMap>
  <sql id="Base_Column_List">
    id, aggregation_id, promotion_id, mpu, type, level, sku_index
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aggregation_mpu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByMpu" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from aggregation_mpu
    where mpu = #{mpu,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from aggregation_mpu
    where aggregation_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fengchao.aggregation.model.AggregationMpu">
    insert into aggregation_mpu (id, aggregation_id, promotion_id,
      mpu, type, level, sku_index)
    values (#{id,jdbcType=INTEGER}, #{aggregationId,jdbcType=INTEGER}, #{promotionId,jdbcType=INTEGER}, 
      #{mpu,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}), #{skuIndex,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fengchao.aggregation.model.AggregationMpu">
    insert into aggregation_mpu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="aggregationId != null">
        aggregation_id,
      </if>
      <if test="promotionId != null">
        promotion_id,
      </if>
      <if test="mpu != null">
        mpu,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="skuIndex != null">
        sku_index,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="aggregationId != null">
        #{aggregationId,jdbcType=INTEGER},
      </if>
      <if test="promotionId != null">
        #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="mpu != null">
        #{mpu,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="skuIndex != null">
        #{skuIndex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengchao.aggregation.model.AggregationMpu">
    update aggregation_mpu
    <set>
      <if test="aggregationId != null">
        aggregation_id = #{aggregationId,jdbcType=INTEGER},
      </if>
      <if test="promotionId != null">
        promotion_id = #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="mpu != null">
        mpu = #{mpu,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="skuIndex != null">
        sku_index = #{skuIndex,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengchao.aggregation.model.AggregationMpu">
    update aggregation_mpu
    set aggregation_id = #{aggregationId,jdbcType=INTEGER},
      promotion_id = #{promotionId,jdbcType=INTEGER},
      mpu = #{mpu,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      sku_index = #{skuIndex,jdbcType=INTEGER},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>