<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengchao.statistics.mapper.BaiduStatisMapper" >
  <resultMap id="BaseResultMap" type="com.fengchao.statistics.model.BaiduStatis" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="pv" property="pv" jdbcType="INTEGER" />
    <result column="uv" property="uv" jdbcType="INTEGER" />
    <result column="stop_time" property="stopTime" jdbcType="INTEGER" />
    <result column="visit_date" property="visitDate" jdbcType="DATE" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, key, url, pv, uv, stop_time, visit_date
  </sql>

  <select id="queryAllUrls" resultType="hashmap" parameterType="Map">
        select `key`, url from baidu_statis group by `key` limit #{pageNo},#{pageSize}
  </select>

  <select id="getTotalPVandUv" resultType="hashmap">
        select sum(pv) as total_pv, sum(uv) as total_uv from baidu_statis
  </select>

  <select id="queryStatisticsData" resultType="hashmap" parameterType="Map">
    select `key`, url, sum(pv) as total_pv , sum(uv) as total_uv , floor(sum(pv*stop_time)/sum(pv)) as avg_stop_time, '' as visit_date from baidu_statis
    where 1=1
    <if test="urlKey != null and urlKey !=''">
      and  `key` = #{urlKey}
    </if>
    and <![CDATA[visit_date >= #{dayStart,jdbcType=DATE}]]> <![CDATA[ and visit_date <= #{dayEnd,jdbcType=DATE}]]>
    group by `key` order by ${orderKey} ${orderType}
    limit #{pageNo},#{pageSize}
  </select>

  <select id="queryDetailData" resultType="hashmap" parameterType="Map">
    select `key`, url, pv as total_pv , uv as total_uv , stop_time as avg_stop_time , visit_date from baidu_statis
    where 1=1
    and  `key` = #{urlKey}
    and <![CDATA[visit_date >= #{dayStart,jdbcType=DATE}]]> <![CDATA[ and visit_date <= #{dayEnd,jdbcType=DATE}]]>
    order by visit_date asc
    limit #{pageNo},#{pageSize}
  </select>

  <select id="countAllUrls" resultType="java.lang.Integer">
      select count(distinct(`key`)) from baidu_statis
  </select>

  <select id="countStatisticsData" resultType="java.lang.Integer">
    select count(distinct(`key`)) from baidu_statis
    where 1=1
    <if test="urlKey != null and urlKey !=''">
      and  `key` = #{urlKey}
    </if>
    and <![CDATA[visit_date >= #{dayStart,jdbcType=DATE}]]> <![CDATA[ and visit_date <= #{dayEnd,jdbcType=DATE}]]>
  </select>

  <select id="countDetailData" resultType="java.lang.Integer">
    select count(`key`) from baidu_statis
    where 1=1
    and  `key` = #{urlKey}
    and <![CDATA[visit_date >= #{dayStart,jdbcType=DATE}]]> <![CDATA[ and visit_date <= #{dayEnd,jdbcType=DATE}]]>
  </select>

</mapper>