<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengchao.statistics.mapper.PromotionOverviewMapper" >
  <resultMap id="BaseResultMap" type="com.fengchao.statistics.model.PromotionOverview" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="promotion_id" property="promotionId" jdbcType="INTEGER" />
    <result column="promotion_name" property="promotionName" jdbcType="VARCHAR" />
    <result column="order_payment_amount" property="orderPaymentAmount" jdbcType="REAL" />
    <result column="statistics_date" property="statisticsDate" jdbcType="DATE" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, promotion_id, promotion_name, order_payment_amount, statistics_date, created_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from promotion_overview
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from promotion_overview
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fengchao.statistics.model.PromotionOverview" >
    insert into promotion_overview (id, promotion_id, promotion_name, 
      order_payment_amount, statistics_date, created_at
      )
    values (#{id,jdbcType=BIGINT}, #{promotionId,jdbcType=INTEGER}, #{promotionName,jdbcType=VARCHAR}, 
      #{orderPaymentAmount,jdbcType=REAL}, #{statisticsDate,jdbcType=DATE}, #{createdAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fengchao.statistics.model.PromotionOverview" >
    insert into promotion_overview
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="promotionId != null" >
        promotion_id,
      </if>
      <if test="promotionName != null" >
        promotion_name,
      </if>
      <if test="orderPaymentAmount != null" >
        order_payment_amount,
      </if>
      <if test="statisticsDate != null" >
        statistics_date,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="promotionId != null" >
        #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="promotionName != null" >
        #{promotionName,jdbcType=VARCHAR},
      </if>
      <if test="orderPaymentAmount != null" >
        #{orderPaymentAmount,jdbcType=REAL},
      </if>
      <if test="statisticsDate != null" >
        #{statisticsDate,jdbcType=DATE},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengchao.statistics.model.PromotionOverview" >
    update promotion_overview
    <set >
      <if test="promotionId != null" >
        promotion_id = #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="promotionName != null" >
        promotion_name = #{promotionName,jdbcType=VARCHAR},
      </if>
      <if test="orderPaymentAmount != null" >
        order_payment_amount = #{orderPaymentAmount,jdbcType=REAL},
      </if>
      <if test="statisticsDate != null" >
        statistics_date = #{statisticsDate,jdbcType=DATE},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengchao.statistics.model.PromotionOverview" >
    update promotion_overview
    set promotion_id = #{promotionId,jdbcType=INTEGER},
      promotion_name = #{promotionName,jdbcType=VARCHAR},
      order_payment_amount = #{orderPaymentAmount,jdbcType=REAL},
      statistics_date = #{statisticsDate,jdbcType=DATE},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>