<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengchao.order.mapper.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.fengchao.order.model.OrderDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="merchant_id" jdbcType="INTEGER" property="merchantId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="sub_order_id" jdbcType="VARCHAR" property="subOrderId" />
    <result column="mpu" jdbcType="VARCHAR" property="mpu" />
    <result column="sku_id" jdbcType="VARCHAR" property="skuId" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="promotion_id" jdbcType="INTEGER" property="promotionId" />
    <result column="promotion_discount" jdbcType="REAL" property="promotionDiscount" />
    <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="logistics_id" jdbcType="VARCHAR" property="logisticsId" />
    <result column="logistics_content" jdbcType="VARCHAR" property="logisticsContent" />
    <result column="comcode" jdbcType="VARCHAR" property="comcode" />
    <result column="sku_coupon_discount" jdbcType="INTEGER" property="skuCouponDiscount" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, merchant_id, order_id, sub_order_id, mpu, sku_id, num, promotion_id, promotion_discount, 
    sale_price, unit_price, image, model, name, status, created_at, updated_at, logistics_id, 
    logistics_content, comcode, sku_coupon_discount, category, remark
  </sql>
  <select id="selectByExample" parameterType="com.fengchao.order.model.OrderDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fengchao.order.model.OrderDetailExample">
    delete from order_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fengchao.order.model.OrderDetail" useGeneratedKeys="true">
    insert into order_detail (merchant_id, order_id, sub_order_id, 
      mpu, sku_id, num, promotion_id, 
      promotion_discount, sale_price, unit_price, 
      image, model, name, 
      status, created_at, updated_at, 
      logistics_id, logistics_content, comcode, 
      sku_coupon_discount, category, remark
      )
    values (#{merchantId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{subOrderId,jdbcType=VARCHAR}, 
      #{mpu,jdbcType=VARCHAR}, #{skuId,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{promotionId,jdbcType=INTEGER}, 
      #{promotionDiscount,jdbcType=REAL}, #{salePrice,jdbcType=DECIMAL}, #{unitPrice,jdbcType=DECIMAL}, 
      #{image,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{logisticsId,jdbcType=VARCHAR}, #{logisticsContent,jdbcType=VARCHAR}, #{comcode,jdbcType=VARCHAR}, 
      #{skuCouponDiscount,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fengchao.order.model.OrderDetail" useGeneratedKeys="true">
    insert into order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="subOrderId != null">
        sub_order_id,
      </if>
      <if test="mpu != null">
        mpu,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="promotionId != null">
        promotion_id,
      </if>
      <if test="promotionDiscount != null">
        promotion_discount,
      </if>
      <if test="salePrice != null">
        sale_price,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="logisticsId != null">
        logistics_id,
      </if>
      <if test="logisticsContent != null">
        logistics_content,
      </if>
      <if test="comcode != null">
        comcode,
      </if>
      <if test="skuCouponDiscount != null">
        sku_coupon_discount,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="merchantId != null">
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="subOrderId != null">
        #{subOrderId,jdbcType=VARCHAR},
      </if>
      <if test="mpu != null">
        #{mpu,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="promotionId != null">
        #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="promotionDiscount != null">
        #{promotionDiscount,jdbcType=REAL},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="logisticsId != null">
        #{logisticsId,jdbcType=VARCHAR},
      </if>
      <if test="logisticsContent != null">
        #{logisticsContent,jdbcType=VARCHAR},
      </if>
      <if test="comcode != null">
        #{comcode,jdbcType=VARCHAR},
      </if>
      <if test="skuCouponDiscount != null">
        #{skuCouponDiscount,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fengchao.order.model.OrderDetailExample" resultType="java.lang.Long">
    select count(*) from order_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.merchantId != null">
        merchant_id = #{record.merchantId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.subOrderId != null">
        sub_order_id = #{record.subOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.mpu != null">
        mpu = #{record.mpu,jdbcType=VARCHAR},
      </if>
      <if test="record.skuId != null">
        sku_id = #{record.skuId,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.promotionId != null">
        promotion_id = #{record.promotionId,jdbcType=INTEGER},
      </if>
      <if test="record.promotionDiscount != null">
        promotion_discount = #{record.promotionDiscount,jdbcType=REAL},
      </if>
      <if test="record.salePrice != null">
        sale_price = #{record.salePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.unitPrice != null">
        unit_price = #{record.unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.image != null">
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null">
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.logisticsId != null">
        logistics_id = #{record.logisticsId,jdbcType=VARCHAR},
      </if>
      <if test="record.logisticsContent != null">
        logistics_content = #{record.logisticsContent,jdbcType=VARCHAR},
      </if>
      <if test="record.comcode != null">
        comcode = #{record.comcode,jdbcType=VARCHAR},
      </if>
      <if test="record.skuCouponDiscount != null">
        sku_coupon_discount = #{record.skuCouponDiscount,jdbcType=INTEGER},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_detail
    set id = #{record.id,jdbcType=INTEGER},
      merchant_id = #{record.merchantId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      sub_order_id = #{record.subOrderId,jdbcType=VARCHAR},
      mpu = #{record.mpu,jdbcType=VARCHAR},
      sku_id = #{record.skuId,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=INTEGER},
      promotion_id = #{record.promotionId,jdbcType=INTEGER},
      promotion_discount = #{record.promotionDiscount,jdbcType=REAL},
      sale_price = #{record.salePrice,jdbcType=DECIMAL},
      unit_price = #{record.unitPrice,jdbcType=DECIMAL},
      image = #{record.image,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      logistics_id = #{record.logisticsId,jdbcType=VARCHAR},
      logistics_content = #{record.logisticsContent,jdbcType=VARCHAR},
      comcode = #{record.comcode,jdbcType=VARCHAR},
      sku_coupon_discount = #{record.skuCouponDiscount,jdbcType=INTEGER},
      category = #{record.category,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengchao.order.model.OrderDetail">
    update order_detail
    <set>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="subOrderId != null">
        sub_order_id = #{subOrderId,jdbcType=VARCHAR},
      </if>
      <if test="mpu != null">
        mpu = #{mpu,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="promotionId != null">
        promotion_id = #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="promotionDiscount != null">
        promotion_discount = #{promotionDiscount,jdbcType=REAL},
      </if>
      <if test="salePrice != null">
        sale_price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="logisticsId != null">
        logistics_id = #{logisticsId,jdbcType=VARCHAR},
      </if>
      <if test="logisticsContent != null">
        logistics_content = #{logisticsContent,jdbcType=VARCHAR},
      </if>
      <if test="comcode != null">
        comcode = #{comcode,jdbcType=VARCHAR},
      </if>
      <if test="skuCouponDiscount != null">
        sku_coupon_discount = #{skuCouponDiscount,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengchao.order.model.OrderDetail">
    update order_detail
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      sub_order_id = #{subOrderId,jdbcType=VARCHAR},
      mpu = #{mpu,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      promotion_id = #{promotionId,jdbcType=INTEGER},
      promotion_discount = #{promotionDiscount,jdbcType=REAL},
      sale_price = #{salePrice,jdbcType=DECIMAL},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      image = #{image,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      logistics_id = #{logisticsId,jdbcType=VARCHAR},
      logistics_content = #{logisticsContent,jdbcType=VARCHAR},
      comcode = #{comcode,jdbcType=VARCHAR},
      sku_coupon_discount = #{skuCouponDiscount,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>