<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengchao.equity.mapper.CouponUseInfoXMapper" >
  <resultMap id="BaseResultMap" type="com.fengchao.equity.model.CouponUseInfoX" >
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="coupon_id" jdbcType="INTEGER" property="couponId" />
      <result column="user_coupon_code" jdbcType="VARCHAR" property="userCouponCode" />
      <result column="user_open_id" jdbcType="VARCHAR" property="userOpenId" />
      <result column="code" jdbcType="VARCHAR" property="code" />
      <result column="collected_time" jdbcType="TIMESTAMP" property="collectedTime" />
      <result column="consumed_time" jdbcType="TIMESTAMP" property="consumedTime" />
      <result column="order_id" jdbcType="INTEGER" property="orderId" />
      <result column="status" jdbcType="INTEGER" property="status" />
      <result column="url" jdbcType="VARCHAR" property="url" />
      <result column="type" jdbcType="INTEGER" property="type" />
      <result column="effective_start_date" jdbcType="TIMESTAMP" property="effectiveStartDate" />
      <result column="effective_end_date" jdbcType="TIMESTAMP" property="effectiveEndDate" />
      <result column="app_id" jdbcType="VARCHAR" property="appId" />
      <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
     id, coupon_id, user_coupon_code, user_open_id, code, collected_time, consumed_time,
    order_id, status, url, type, effective_start_date, effective_end_date, app_id, delete_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.fengchao.equity.bean.CouponUseInfoBean" >
    select 
    <include refid="Base_Column_List" />
    from coupon_use_info
    where delete_flag = 0
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="userCouponCode != null" >
      and user_coupon_code = #{userCouponCode,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectCount" resultType="java.lang.Integer" parameterType="Map">
    select
    count(id)
    from coupon_use_info
    WHERE 1=1
    <if test="id != null" >
      and coupon_id = #{id,jdbcType=INTEGER}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="userOpenId != null" >
       <bind name="patternName" value="'%' + userOpenId + '%'" />
       and user_open_id LIKE #{patternName}
    </if>
    <if test="deleteFlag != null" >
      and delete_flag = 0
    </if>
    <if test="appId != null" >
      and app_id = #{appId,jdbcType=VARCHAR}
    </if>
    <if test="collectedStartDate != null">
      <![CDATA[ and collected_time >= #{collectedStartDate,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="collectedEndDate != null" >
      <![CDATA[ and collected_time <= #{collectedEndDate,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="consumedStartDate != null" >
      <![CDATA[ and consumed_time >= #{consumedStartDate,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="consumedEndDate != null" >
      <![CDATA[ and consumed_time <= #{consumedEndDate,jdbcType=TIMESTAMP}]]>
    </if>

  </select>
  <select id="selectCollectCount" resultType="java.lang.Integer">
  select
  count(id)
  from coupon_use_info
  WHERE coupon_id = #{couponId,jdbcType=INTEGER}
  and user_open_id = #{userOpenId,jdbcType=VARCHAR}
  <if test="appId != null" >
      and app_id = #{appId,jdbcType=VARCHAR}
  </if>
  </select>
  <select id="selectCollect"  resultMap="BaseResultMap" parameterType="com.fengchao.equity.bean.CouponUseInfoBean">
  select
    <include refid="Base_Column_List" />
  from coupon_use_info
  WHERE delete_flag = 0 and coupon_id = #{couponId,jdbcType=INTEGER} and user_open_id = #{userOpenId,jdbcType=VARCHAR}
  </select>
  <select id="selectCollectCouponNum" resultType="java.lang.Integer" parameterType="com.fengchao.equity.bean.CouponUseInfoBean">
  select
  count(id)
  from coupon_use_info
  WHERE delete_flag = 0
  and code = #{code,jdbcType=INTEGER}
  and user_open_id = #{userOpenId,jdbcType=VARCHAR}
  <if test="appId != null" >
      and app_id = #{appId,jdbcType=VARCHAR}
  </if>
  </select>
  <select id="selectLimit" resultMap="BaseResultMap" parameterType="Map">
    select
    <include refid="Base_Column_List" />
    from coupon_use_info
    WHERE 1=1
    <if test="id != null" >
      and coupon_id = #{id,jdbcType=INTEGER}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="userOpenId != null" >
       <bind name="patternName" value="'%' + userOpenId + '%'" />
       and user_open_id LIKE #{patternName}
    </if>
    <if test="deleteFlag != null" >
      and delete_flag = 0
    </if>
    <if test="appId != null" >
       and app_id = #{appId,jdbcType=VARCHAR}
    </if>
    <if test="collectedStartDate != null">
      <![CDATA[ and collected_time >= #{collectedStartDate,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="collectedEndDate != null" >
      <![CDATA[ and collected_time <= #{collectedEndDate,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="consumedStartDate != null" >
      <![CDATA[ and consumed_time >= #{consumedStartDate,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="consumedEndDate != null" >
      <![CDATA[ and consumed_time <= #{consumedEndDate,jdbcType=TIMESTAMP}]]>
    </if>
    order by collected_time desc
    limit #{pageNo},#{pageSize}
  </select>
  <select id="selectBybatchCode" resultMap="BaseResultMap" parameterType="com.fengchao.equity.model.CouponUseInfoX" >
    select
    <include refid="Base_Column_List" />
    from coupon_use_info
    where delete_flag = 0 and coupon_id = #{couponId,jdbcType=INTEGER}
    and code = #{code,jdbcType=VARCHAR} and user_open_id is null and collected_time is null
  </select>
  <select id="selectByUserCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from coupon_use_info
    where delete_flag = 0
    <if test="userCouponCode != null" >
      <bind name="patternName" value="'%' + userCouponCode + '%'" />
      and user_coupon_code LIKE #{patternName}
    </if>
  </select>
  <select id="selectGiftCouponIds" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select
    distinct coupon_id
    from coupon_use_info
    where user_open_id = #{openId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.fengchao.equity.bean.CouponUseInfoBean"  >
    update coupon_use_info
    set delete_flag = 1
    where 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
      <if test="appId != null" >
          and app_id = #{appId,jdbcType=VARCHAR}
      </if>
      <if test="userCouponCode != null" >
          <bind name="patternName" value="'%' + userCouponCode + '%'" />
          and user_coupon_code LIKE #{patternName}
      </if>
  </delete>
  <insert id="insert" parameterType="com.fengchao.equity.model.CouponUseInfoX" >
      insert into coupon_use_info (coupon_id, user_coupon_code, user_open_id,
      code, collected_time, consumed_time,
      order_id, status, url,
      type, effective_start_date, effective_end_date,
      app_id, delete_flag)
    values (#{couponId,jdbcType=INTEGER}, #{userCouponCode,jdbcType=VARCHAR}, #{userOpenId,jdbcType=VARCHAR},
      #{code,jdbcType=VARCHAR}, #{collectedTime,jdbcType=TIMESTAMP}, #{consumedTime,jdbcType=TIMESTAMP},
      #{orderId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR},
      #{type,jdbcType=INTEGER}, #{effectiveStartDate,jdbcType=TIMESTAMP}, #{effectiveEndDate,jdbcType=TIMESTAMP},
      #{appId,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective"  keyProperty="id" useGeneratedKeys="true" parameterType="com.fengchao.equity.model.CouponUseInfoX" >
      insert into coupon_use_info
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="couponId != null">
              coupon_id,
          </if>
          <if test="userCouponCode != null">
              user_coupon_code,
          </if>
          <if test="userOpenId != null">
              user_open_id,
          </if>
          <if test="code != null">
              code,
          </if>
          <if test="collectedTime != null">
              collected_time,
          </if>
          <if test="consumedTime != null">
              consumed_time,
          </if>
          <if test="orderId != null">
              order_id,
          </if>
          <if test="status != null">
              status,
          </if>
          <if test="url != null">
              url,
          </if>
          <if test="type != null">
              type,
          </if>
          <if test="effectiveStartDate != null">
              effective_start_date,
          </if>
          <if test="effectiveEndDate != null">
              effective_end_date,
          </if>
          <if test="appId != null">
              app_id,
          </if>
          <if test="deleteFlag != null">
              delete_flag,
          </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="couponId != null">
              #{couponId,jdbcType=INTEGER},
          </if>
          <if test="userCouponCode != null">
              #{userCouponCode,jdbcType=VARCHAR},
          </if>
          <if test="userOpenId != null">
              #{userOpenId,jdbcType=VARCHAR},
          </if>
          <if test="code != null">
              #{code,jdbcType=VARCHAR},
          </if>
          <if test="collectedTime != null">
              #{collectedTime,jdbcType=TIMESTAMP},
          </if>
          <if test="consumedTime != null">
              #{consumedTime,jdbcType=TIMESTAMP},
          </if>
          <if test="orderId != null">
              #{orderId,jdbcType=INTEGER},
          </if>
          <if test="status != null">
              #{status,jdbcType=INTEGER},
          </if>
          <if test="url != null">
              #{url,jdbcType=VARCHAR},
          </if>
          <if test="type != null">
              #{type,jdbcType=INTEGER},
          </if>
          <if test="effectiveStartDate != null">
              #{effectiveStartDate,jdbcType=TIMESTAMP},
          </if>
          <if test="effectiveEndDate != null">
              #{effectiveEndDate,jdbcType=TIMESTAMP},
          </if>
          <if test="appId != null">
              #{appId,jdbcType=VARCHAR},
          </if>
          <if test="deleteFlag != null">
              #{deleteFlag,jdbcType=INTEGER},
          </if>
      </trim>
  </insert>
  <insert id="insertbatchCode" parameterType="java.util.List" >
    insert into coupon_use_info (coupon_id, user_coupon_code,
      code, app_id) values
    <foreach collection="useInfos" item="item" index="index" separator=",">
      (
      #{item.couponId,jdbcType=INTEGER},
      #{item.userCouponCode,jdbcType=VARCHAR},
      #{item.code,jdbcType=VARCHAR},
      #{item.appId,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <insert id="importCode" parameterType="com.fengchao.equity.bean.CouponUseInfoBean" >
    insert into coupon_use_info (coupon_id, user_coupon_code,
    code) values
    <foreach collection="userCouponCodes" item="item" index="index" separator=",">
      (
      #{couponId,jdbcType=INTEGER},
      #{item.userCouponCodes,jdbcType=VARCHAR},
      #{code,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengchao.equity.model.CouponUseInfoX" >
      update coupon_use_info
      <set>
          <if test="couponId != null">
              coupon_id = #{couponId,jdbcType=INTEGER},
          </if>
          <if test="userCouponCode != null">
              user_coupon_code = #{userCouponCode,jdbcType=VARCHAR},
          </if>
          <if test="userOpenId != null">
              user_open_id = #{userOpenId,jdbcType=VARCHAR},
          </if>
          <if test="code != null">
              code = #{code,jdbcType=VARCHAR},
          </if>
          <if test="collectedTime != null">
              collected_time = #{collectedTime,jdbcType=TIMESTAMP},
          </if>
          <if test="consumedTime != null">
              consumed_time = #{consumedTime,jdbcType=TIMESTAMP},
          </if>
          <if test="orderId != null">
              order_id = #{orderId,jdbcType=INTEGER},
          </if>
          <if test="status != null">
              status = #{status,jdbcType=INTEGER},
          </if>
          <if test="url != null">
              url = #{url,jdbcType=VARCHAR},
          </if>
          <if test="type != null">
              type = #{type,jdbcType=INTEGER},
          </if>
          <if test="effectiveStartDate != null">
              effective_start_date = #{effectiveStartDate,jdbcType=TIMESTAMP},
          </if>
          <if test="effectiveEndDate != null">
              effective_end_date = #{effectiveEndDate,jdbcType=TIMESTAMP},
          </if>
          <if test="appId != null">
              app_id = #{appId,jdbcType=VARCHAR},
          </if>
          <if test="deleteFlag != null">
              delete_flag = #{deleteFlag,jdbcType=INTEGER},
          </if>
      </set>
      where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengchao.equity.model.CouponUseInfoX" >
    update coupon_use_info
    set coupon_id = #{couponId,jdbcType=INTEGER},
      user_coupon_code = #{userCouponCode,jdbcType=VARCHAR},
      user_open_id = #{userOpenId,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      collected_time = #{collectedTime,jdbcType=TIMESTAMP},
      consumed_time = #{consumedTime,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      effective_start_date = #{effectiveStartDate,jdbcType=TIMESTAMP},
      effective_end_date = #{effectiveEndDate,jdbcType=TIMESTAMP},
      app_id = #{appId,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByUserCode" parameterType="com.fengchao.equity.model.CouponUseInfoX" >
    update coupon_use_info
    set user_open_id = #{userOpenId,jdbcType=VARCHAR},
      collected_time = #{collectedTime,jdbcType=TIMESTAMP}
    where status = 1
    <if test="userCouponCode != null" >
       <bind name="patternName" value="'%' + userCouponCode + '%'" />
          and user_coupon_code LIKE #{patternName}
    </if>
    <if test="appId != null">
       and app_id = #{appId,jdbcType=VARCHAR}
    </if>
  </update>
  <update id="updateStatusByUserCode" parameterType="com.fengchao.equity.model.CouponUseInfoX" >
    update coupon_use_info
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="consumedTime != null" >
        consumed_time = #{consumedTime,jdbcType=TIMESTAMP}
      </if>
    </set>
    where delete_flag = 0
    <if test="userCouponCode != null" >
      <bind name="patternName" value="'%' + userCouponCode + '%'" />
      and user_coupon_code LIKE #{patternName}
    </if>
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
  </update>
  <update id="updateStatusByCouponId" parameterType="java.lang.Integer" >
    update coupon_use_info
    set status = 4
    where delete_flag = 0 and status = 1 and coupon_id = #{couponId,jdbcType=INTEGER}
  </update>
  <update id="updateStatusByToushiCode" parameterType="com.fengchao.equity.model.CouponUseInfoX" >
    update coupon_use_info
    set status = #{status,jdbcType=INTEGER},
    consumed_time = #{consumedTime,jdbcType=TIMESTAMP}
    where type = 1 and
    <if test="userCouponCode != null" >
        <bind name="patternName" value="'%' + userCouponCode + '%'" />
          and user_coupon_code LIKE #{patternName}
    </if>
    <if test="userOpenId != null" >
      and user_open_id = #{userOpenId,jdbcType=INTEGER}
    </if>
  </update>

    <select id="selectCountByOpenId" resultType="java.lang.Integer" parameterType="Map">
        select
        count(*)
        from coupon p
        left join coupon_use_info c on c.coupon_id = p.id
        WHERE delete_flag = 0 and p.coupon_type != 4
        <if test="status != null" >
            and c.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="userOpenId != null" >
            <bind name="patternName" value="'%' + userOpenId + '%'" />
            and c.user_open_id LIKE #{patternName}
        </if>
        <if test="appId != null" >
            and c.app_id = #{appId,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectLimitByOpenId" resultMap="BaseResultMap" parameterType="Map">
        select
        c.id, coupon_id, user_coupon_code, user_open_id, c.code, collected_time, consumed_time,
        order_id, c.status, c.url, c.type, c.effective_start_date, c.effective_end_date, c.app_id, c.delete_flag
        from coupon p
        left join coupon_use_info c on c.coupon_id = p.id
        WHERE delete_flag = 0 and p.coupon_type != 4
        <if test="status != null" >
            and c.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="userOpenId != null" >
            <bind name="patternName" value="'%' + userOpenId + '%'" />
            and c.user_open_id LIKE #{patternName}
        </if>
        <if test="appId != null" >
            and c.app_id = #{appId,jdbcType=VARCHAR}
        </if>
        order by collected_time desc
        limit #{pageNo},#{pageSize}
    </select>
</mapper>