<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengchao.equity.mapper.GroupTeamMapper">
  <resultMap id="BaseResultMap" type="com.fengchao.equity.model.GroupTeam">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_info_id" jdbcType="BIGINT" property="groupInfoId" />
    <result column="sponser_open_id" jdbcType="VARCHAR" property="sponserOpenId" />
    <result column="mpu_id" jdbcType="VARCHAR" property="mpuId" />
    <result column="team_status" jdbcType="SMALLINT" property="teamStatus" />
    <result column="team_expiration" jdbcType="INTEGER" property="teamExpiration" />
    <result column="istatus" jdbcType="SMALLINT" property="istatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, group_info_id, sponser_open_id, mpu_id, team_status, team_expiration, istatus, 
    create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.fengchao.equity.model.GroupTeamExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from group_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from group_team
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from group_team
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fengchao.equity.model.GroupTeamExample">
    delete from group_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fengchao.equity.model.GroupTeam" useGeneratedKeys="true">
    insert into group_team (group_info_id, sponser_open_id, mpu_id, 
      team_status, team_expiration, istatus, 
      create_time, update_time)
    values (#{groupInfoId,jdbcType=BIGINT}, #{sponserOpenId,jdbcType=VARCHAR}, #{mpuId,jdbcType=VARCHAR}, 
      #{teamStatus,jdbcType=SMALLINT}, #{teamExpiration,jdbcType=INTEGER}, #{istatus,jdbcType=SMALLINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fengchao.equity.model.GroupTeam" useGeneratedKeys="true">
    insert into group_team
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupInfoId != null">
        group_info_id,
      </if>
      <if test="sponserOpenId != null">
        sponser_open_id,
      </if>
      <if test="mpuId != null">
        mpu_id,
      </if>
      <if test="teamStatus != null">
        team_status,
      </if>
      <if test="teamExpiration != null">
        team_expiration,
      </if>
      <if test="istatus != null">
        istatus,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupInfoId != null">
        #{groupInfoId,jdbcType=BIGINT},
      </if>
      <if test="sponserOpenId != null">
        #{sponserOpenId,jdbcType=VARCHAR},
      </if>
      <if test="mpuId != null">
        #{mpuId,jdbcType=VARCHAR},
      </if>
      <if test="teamStatus != null">
        #{teamStatus,jdbcType=SMALLINT},
      </if>
      <if test="teamExpiration != null">
        #{teamExpiration,jdbcType=INTEGER},
      </if>
      <if test="istatus != null">
        #{istatus,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fengchao.equity.model.GroupTeamExample" resultType="java.lang.Long">
    select count(*) from group_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update group_team
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.groupInfoId != null">
        group_info_id = #{record.groupInfoId,jdbcType=BIGINT},
      </if>
      <if test="record.sponserOpenId != null">
        sponser_open_id = #{record.sponserOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.mpuId != null">
        mpu_id = #{record.mpuId,jdbcType=VARCHAR},
      </if>
      <if test="record.teamStatus != null">
        team_status = #{record.teamStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.teamExpiration != null">
        team_expiration = #{record.teamExpiration,jdbcType=INTEGER},
      </if>
      <if test="record.istatus != null">
        istatus = #{record.istatus,jdbcType=SMALLINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update group_team
    set id = #{record.id,jdbcType=BIGINT},
      group_info_id = #{record.groupInfoId,jdbcType=BIGINT},
      sponser_open_id = #{record.sponserOpenId,jdbcType=VARCHAR},
      mpu_id = #{record.mpuId,jdbcType=VARCHAR},
      team_status = #{record.teamStatus,jdbcType=SMALLINT},
      team_expiration = #{record.teamExpiration,jdbcType=INTEGER},
      istatus = #{record.istatus,jdbcType=SMALLINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengchao.equity.model.GroupTeam">
    update group_team
    <set>
      <if test="groupInfoId != null">
        group_info_id = #{groupInfoId,jdbcType=BIGINT},
      </if>
      <if test="sponserOpenId != null">
        sponser_open_id = #{sponserOpenId,jdbcType=VARCHAR},
      </if>
      <if test="mpuId != null">
        mpu_id = #{mpuId,jdbcType=VARCHAR},
      </if>
      <if test="teamStatus != null">
        team_status = #{teamStatus,jdbcType=SMALLINT},
      </if>
      <if test="teamExpiration != null">
        team_expiration = #{teamExpiration,jdbcType=INTEGER},
      </if>
      <if test="istatus != null">
        istatus = #{istatus,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengchao.equity.model.GroupTeam">
    update group_team
    set group_info_id = #{groupInfoId,jdbcType=BIGINT},
      sponser_open_id = #{sponserOpenId,jdbcType=VARCHAR},
      mpu_id = #{mpuId,jdbcType=VARCHAR},
      team_status = #{teamStatus,jdbcType=SMALLINT},
      team_expiration = #{teamExpiration,jdbcType=INTEGER},
      istatus = #{istatus,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>