<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengchao.equity.mapper.PromotionSkuMapper">
  <resultMap id="BaseResultMap" type="com.fengchao.equity.model.PromotionSku">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="promotion_id" jdbcType="INTEGER" property="promotionId" />
    <result column="sku" jdbcType="VARCHAR" property="skuid" />
    <result column="discount" jdbcType="VARCHAR" property="discount" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, promotion_id, sku, discount
  </sql>
  <select id="selectByPrimarySku" resultType="com.fengchao.equity.model.PromotionSku" parameterType="java.lang.Integer" >
    select
    promotion_sku.id, promotion_id promotionId, promotion_sku.sku, discount, name, price, state, sprice,
    model, brand, image
    from promotion_sku LEFT JOIN aoyi_prod_index on promotion_sku.sku = aoyi_prod_index.sku
    where promotion_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from promotion_sku
    where promotion_id = #{promotionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteBypromotionId" parameterType="com.fengchao.equity.model.PromotionSku" >
    delete from promotion_sku
    where sku = #{skuid,jdbcType=VARCHAR} and promotion_id = #{promotionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fengchao.equity.model.PromotionSku" >
    insert into promotion_sku (id, promotion_id, sku,
      discount)
    values (#{id,jdbcType=INTEGER}, #{promotionId,jdbcType=INTEGER}, #{skuid,jdbcType=VARCHAR},
      #{discount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fengchao.equity.model.PromotionSku" >
    insert into promotion_sku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="promotionId != null" >
        promotion_id,
      </if>
      <if test="skuid != null" >
        sku,
      </if>
      <if test="discount != null" >
        discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="promotionId != null" >
        #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="skuid != null" >
        #{skuid,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengchao.equity.model.PromotionSku" >
    update promotion_sku
    <set >
      <if test="promotionId != null" >
        promotion_id = #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="skuid != null" >
        sku = #{skuid,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=VARCHAR},
      </if>
    </set>
    where sku = #{skuid,jdbcType=VARCHAR}
    and promotion_id = #{promotionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengchao.equity.model.PromotionSku" >
    update promotion_sku
    set promotion_id = #{promotionId,jdbcType=INTEGER},
      sku = #{skuid,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>