<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengchao.equity.mapper.PromotionMpuMapper">
  <resultMap id="BaseResultMap" type="com.fengchao.equity.model.PromotionMpu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="promotion_id" jdbcType="INTEGER" property="promotionId" />
    <result column="mpu" jdbcType="VARCHAR" property="mpu" />
    <result column="skuId" jdbcType="VARCHAR" property="skuid" />
    <result column="discount" jdbcType="VARCHAR" property="discount" />
    <result column="schedule_id" jdbcType="INTEGER" property="scheduleId" />
    <result column="promotion_image" jdbcType="VARCHAR" property="promotionImage" />
    <result column="per_limited" jdbcType="INTEGER" property="perLimited" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, promotion_id, mpu, skuId, discount, schedule_id, promotion_image, per_limited
  </sql>
  <select id="selectByExample" parameterType="com.fengchao.equity.model.PromotionMpuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from promotion_mpu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from promotion_mpu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from promotion_mpu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fengchao.equity.model.PromotionMpuExample">
    delete from promotion_mpu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fengchao.equity.model.PromotionMpu" useGeneratedKeys="true">
    insert into promotion_mpu (promotion_id, mpu, skuId, 
      discount, schedule_id, promotion_image, 
      per_limited)
    values (#{promotionId,jdbcType=INTEGER}, #{mpu,jdbcType=VARCHAR}, #{skuid,jdbcType=VARCHAR}, 
      #{discount,jdbcType=VARCHAR}, #{scheduleId,jdbcType=INTEGER}, #{promotionImage,jdbcType=VARCHAR}, 
      #{perLimited,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fengchao.equity.model.PromotionMpu" useGeneratedKeys="true">
    insert into promotion_mpu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="promotionId != null">
        promotion_id,
      </if>
      <if test="mpu != null">
        mpu,
      </if>
      <if test="skuid != null">
        skuId,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="scheduleId != null">
        schedule_id,
      </if>
      <if test="promotionImage != null">
        promotion_image,
      </if>
      <if test="perLimited != null">
        per_limited,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="promotionId != null">
        #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="mpu != null">
        #{mpu,jdbcType=VARCHAR},
      </if>
      <if test="skuid != null">
        #{skuid,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=VARCHAR},
      </if>
      <if test="scheduleId != null">
        #{scheduleId,jdbcType=INTEGER},
      </if>
      <if test="promotionImage != null">
        #{promotionImage,jdbcType=VARCHAR},
      </if>
      <if test="perLimited != null">
        #{perLimited,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fengchao.equity.model.PromotionMpuExample" resultType="java.lang.Long">
    select count(*) from promotion_mpu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update promotion_mpu
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.promotionId != null">
        promotion_id = #{record.promotionId,jdbcType=INTEGER},
      </if>
      <if test="record.mpu != null">
        mpu = #{record.mpu,jdbcType=VARCHAR},
      </if>
      <if test="record.skuid != null">
        skuId = #{record.skuid,jdbcType=VARCHAR},
      </if>
      <if test="record.discount != null">
        discount = #{record.discount,jdbcType=VARCHAR},
      </if>
      <if test="record.scheduleId != null">
        schedule_id = #{record.scheduleId,jdbcType=INTEGER},
      </if>
      <if test="record.promotionImage != null">
        promotion_image = #{record.promotionImage,jdbcType=VARCHAR},
      </if>
      <if test="record.perLimited != null">
        per_limited = #{record.perLimited,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update promotion_mpu
    set id = #{record.id,jdbcType=INTEGER},
      promotion_id = #{record.promotionId,jdbcType=INTEGER},
      mpu = #{record.mpu,jdbcType=VARCHAR},
      skuId = #{record.skuid,jdbcType=VARCHAR},
      discount = #{record.discount,jdbcType=VARCHAR},
      schedule_id = #{record.scheduleId,jdbcType=INTEGER},
      promotion_image = #{record.promotionImage,jdbcType=VARCHAR},
      per_limited = #{record.perLimited,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengchao.equity.model.PromotionMpu">
    update promotion_mpu
    <set>
      <if test="promotionId != null">
        promotion_id = #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="mpu != null">
        mpu = #{mpu,jdbcType=VARCHAR},
      </if>
      <if test="skuid != null">
        skuId = #{skuid,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=VARCHAR},
      </if>
      <if test="scheduleId != null">
        schedule_id = #{scheduleId,jdbcType=INTEGER},
      </if>
      <if test="promotionImage != null">
        promotion_image = #{promotionImage,jdbcType=VARCHAR},
      </if>
      <if test="perLimited != null">
        per_limited = #{perLimited,jdbcType=INTEGER},
      </if>
    </set>
    where promotion_id = #{promotionId,jdbcType=INTEGER} and mpu = #{mpu,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengchao.equity.model.PromotionMpu">
    update promotion_mpu
    set promotion_id = #{promotionId,jdbcType=INTEGER},
      mpu = #{mpu,jdbcType=VARCHAR},
      skuId = #{skuid,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=VARCHAR},
      schedule_id = #{scheduleId,jdbcType=INTEGER},
      promotion_image = #{promotionImage,jdbcType=VARCHAR},
      per_limited = #{perLimited,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryMpu" parameterType="java.lang.Integer" resultType="com.fengchao.equity.model.PromotionMpuX">
    select
    id, promotion_id promotionId, mpu, skuId, discount, schedule_id scheduleId
    from promotion_mpu
    where promotion_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteBypromotionId" parameterType="com.fengchao.equity.model.PromotionMpu">
    delete from promotion_mpu
    where mpu = #{mpu,jdbcType=VARCHAR} and promotion_id = #{promotionId,jdbcType=INTEGER}
  </delete>
</mapper>