<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengchao.equity.mapper.PromotionXMapper">
  <resultMap id="BaseResultMap" type="com.fengchao.equity.model.PromotionX">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="discount_type" jdbcType="INTEGER" property="discountType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="promotion_type_id" jdbcType="BIGINT" property="promotionTypeId" />
    <result column="daily_schedule" jdbcType="BIT" property="dailySchedule" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, tag, discount_type, status, start_date, end_date, created_date, promotion_type_id,
    daily_schedule
  </sql>
  <select id="selectByExample" parameterType="com.fengchao.equity.model.PromotionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from promotion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from promotion
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from promotion
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fengchao.equity.model.PromotionExample">
    delete from promotion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fengchao.equity.model.PromotionX" useGeneratedKeys="true">
    insert into promotion (name, tag, discount_type,
      status, start_date, end_date,
      created_date, promotion_type_id, daily_schedule
      )
    values (#{name,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, #{discountType,jdbcType=INTEGER},
      #{status,jdbcType=INTEGER}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP},
      #{createdDate,jdbcType=TIMESTAMP}, #{promotionTypeId,jdbcType=BIGINT}, #{dailySchedule,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fengchao.equity.model.PromotionX" useGeneratedKeys="true">
    insert into promotion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="discountType != null">
        discount_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="promotionTypeId != null">
        promotion_type_id,
      </if>
      <if test="dailySchedule != null">
        daily_schedule,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="discountType != null">
        #{discountType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionTypeId != null">
        #{promotionTypeId,jdbcType=BIGINT},
      </if>
      <if test="dailySchedule != null">
        #{dailySchedule,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fengchao.equity.model.PromotionExample" resultType="java.lang.Long">
    select count(*) from promotion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update promotion
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.tag != null">
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.discountType != null">
        discount_type = #{record.discountType,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.startDate != null">
        start_date = #{record.startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDate != null">
        end_date = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdDate != null">
        created_date = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.promotionTypeId != null">
        promotion_type_id = #{record.promotionTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.dailySchedule != null">
        daily_schedule = #{record.dailySchedule,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update promotion
    set id = #{record.id,jdbcType=INTEGER},
    name = #{record.name,jdbcType=VARCHAR},
    tag = #{record.tag,jdbcType=VARCHAR},
    discount_type = #{record.discountType,jdbcType=INTEGER},
    status = #{record.status,jdbcType=INTEGER},
    start_date = #{record.startDate,jdbcType=TIMESTAMP},
    end_date = #{record.endDate,jdbcType=TIMESTAMP},
    created_date = #{record.createdDate,jdbcType=TIMESTAMP},
    promotion_type_id = #{record.promotionTypeId,jdbcType=BIGINT},
    daily_schedule = #{record.dailySchedule,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengchao.equity.model.PromotionX">
    update promotion
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="discountType != null">
        discount_type = #{discountType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionTypeId != null">
        promotion_type_id = #{promotionTypeId,jdbcType=BIGINT},
      </if>
      <if test="dailySchedule != null">
        daily_schedule = #{dailySchedule,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengchao.equity.model.PromotionX">
    update promotion
    set name = #{name,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      discount_type = #{discountType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      promotion_type_id = #{promotionTypeId,jdbcType=BIGINT},
      daily_schedule = #{dailySchedule,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from promotion
  </select>
  <select id="selectPromotionName" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    id, name
    from promotion
    where id= #{id,jdbcType=INTEGER}
  </select>

  <select id="selectCount" resultType="java.lang.Integer" parameterType="Map">
    select
    count(id)
    from promotion where 1=1
    <if test="name != null" >
      <bind name="pattern" value="'%' + name + '%'" />
      and name LIKE #{pattern}
    </if>
    <if test="promotionTypeId != null" >
      and promotion_type_id = #{promotionTypeId,jdbcType=INTEGER}
    </if>
    <if test="discountType != null" >
      and discount_type = #{discountType,jdbcType=INTEGER}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectLimit" resultMap="BaseResultMap" parameterType="Map">
    select
    <include refid="Base_Column_List" />
    from promotion where 1=1
    <if test="name != null" >
      <bind name="pattern" value="'%' + name + '%'" />
      and name LIKE #{pattern}
    </if>
    <if test="promotionTypeId != null" >
      and promotion_type_id = #{promotionTypeId,jdbcType=INTEGER}
    </if>
    <if test="discountType != null" >
      and discount_type = #{discountType,jdbcType=INTEGER}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=INTEGER}
    </if>
    order by created_date desc
    limit #{pageNo},#{pageSize}
  </select>
  <select id="selectPromotionInfoByMpu" resultType="com.fengchao.equity.bean.PromotionInfoBean">
    SELECT
    p.id,
    p.name,
    p.tag,
    p.promotion_type_id promotionTypeId,
    p.discount_type discountType,
    p.status,
    p.start_date startDate,
    p.end_date endDate,
    p.created_date createdDate,
    p.daily_schedule dailySchedule,
    ps.mpu,
    ps.discount,
    ps.schedule_id scheduleId
    FROM promotion_mpu ps LEFT JOIN promotion p ON ps.promotion_id=p.id
    WHERE ps.mpu=#{mpu} and p.status <![CDATA[ > ]]> 2 and p.status <![CDATA[ < ]]> 5
  </select>
  <select id="selectDaliyPromotion" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from promotion
    where status = 4
    and daily_schedule = true
  </select>
  <update id="promotionEffective" parameterType="java.lang.Integer" >
    update promotion
    set status = 4 where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="promotionEnd" parameterType="java.lang.Integer" >
    update promotion
    set status = 5 where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>