<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengchao.equity.mapper.PromotionMpuMapper">
  <resultMap id="BaseResultMap" type="com.fengchao.equity.model.PromotionMpu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="promotion_id" jdbcType="INTEGER" property="promotionId" />
    <result column="mpu" jdbcType="VARCHAR" property="mpu" />
    <result column="discount" jdbcType="VARCHAR" property="discount" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, promotion_id, mpu, discount
  </sql>
  <select id="selectByPrimaryMpu" resultType="com.fengchao.equity.model.PromotionMpu" parameterType="java.lang.Integer" >
    select
    promotion_mpu.id, promotion_id promotionId, promotion_mpu.mpu, discount, name, price, state, sprice,
    model, brand, image
    from promotion_mpu LEFT JOIN aoyi_prod_index on promotion_mpu.mpu = aoyi_prod_index.mpu
    where promotion_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from promotion_mpu
    where promotion_id = #{promotionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteBypromotionId" parameterType="com.fengchao.equity.model.PromotionMpu" >
    delete from promotion_mpu
    where mpu = #{skuid,jdbcType=VARCHAR} and promotion_id = #{promotionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fengchao.equity.model.PromotionMpu" >
    insert into promotion_mpu (id, promotion_id, mpu,
      discount)
    values (#{id,jdbcType=INTEGER}, #{promotionId,jdbcType=INTEGER}, #{skuid,jdbcType=VARCHAR},
      #{discount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fengchao.equity.model.PromotionMpu" >
    insert into promotion_mpu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="promotionId != null" >
        promotion_id,
      </if>
      <if test="skuid != null" >
        mpu,
      </if>
      <if test="discount != null" >
        discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="promotionId != null" >
        #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="skuid != null" >
        #{skuid,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengchao.equity.model.PromotionMpu" >
    update promotion_mpu
    <set >
      <if test="promotionId != null" >
        promotion_id = #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="skuid != null" >
        mpu = #{skuid,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=VARCHAR},
      </if>
    </set>
    where mpu = #{skuid,jdbcType=VARCHAR}
    and promotion_id = #{promotionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengchao.equity.model.PromotionMpu" >
    update promotion_mpu
    set promotion_id = #{promotionId,jdbcType=INTEGER},
      mpu = #{skuid,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>