<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengchao.sso.mapper.BalanceXMapper">
  <resultMap id="BaseResultMap" type="com.fengchao.sso.model.Balance">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, telephone, open_id, amount, status, created_at, updated_at
  </sql>
  <update id="batchUpdate" parameterType="com.fengchao.sso.model.Balance">
    update balance set amount = #{amount}, updated_at = now() where id = #{id}
  </update>
  <select id="selectForUpdateByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from balance
    where id = #{id,jdbcType=INTEGER} for update
  </select>

</mapper>